ACTION=="add", KERNEL=="null", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="zero", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="full", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="ptmx", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="tty", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="random", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="urandom", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="hw_random", OWNER="root", GROUP="system", MODE="0440"
ACTION=="add", KERNEL=="ashmem*", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="binder", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="hwbinder", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="vndbinder", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="pmsg0", OWNER="root", GROUP="log", MODE="0222"
ACTION=="add", KERNEL=="dri/*", OWNER="root", GROUP="graphics", MODE="0666"
ACTION=="add", KERNEL=="uhid", OWNER="uhid", GROUP="uhid", MODE="0660"
ACTION=="add", KERNEL=="uinput", OWNER="uhid", GROUP="uhid", MODE="0660"
ACTION=="add", KERNEL=="rtc0", OWNER="system", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="tty0", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="graphics/*", OWNER="root", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="input/*", OWNER="root", GROUP="input", MODE="0660"
ACTION=="add", KERNEL=="v4l-touch*", OWNER="root", GROUP="input", MODE="0660"
ACTION=="add", KERNEL=="snd/*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="bus/usb/*", OWNER="root", GROUP="usb", MODE="0660"
ACTION=="add", KERNEL=="mtp_usb", OWNER="root", GROUP="mtp", MODE="0660"
ACTION=="add", KERNEL=="usb_accessory", OWNER="root", GROUP="usb", MODE="0660"
ACTION=="add", KERNEL=="tun", OWNER="system", GROUP="vpn", MODE="0660"
ACTION=="add", KERNEL=="ppp", OWNER="radio", GROUP="vpn", MODE="0660"
ACTION=="add", KERNEL=="mali0", OWNER="system", GROUP="system", MODE="0666"
ACTION=="add", KERNEL=="ion", OWNER="system", GROUP="system", MODE="0666"
ACTION=="add", KERNEL=="ump", OWNER="system", GROUP="graphics", MODE="0666"
ACTION=="add", KERNEL=="exynos-mem", OWNER="system", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="video0", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video1", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video2", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video3", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video20", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="media0", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="media1", OWNER="system", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev0", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev1", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev2", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev3", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev4", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev5", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev6", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev7", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev8", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev9", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev10", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev11", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev12", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev13", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev14", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev15", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev16", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev17", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev18", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev19", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev20", OWNER="system", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev21", OWNER="system", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev32", OWNER="system", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="video23", OWNER="media", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="video26", OWNER="media", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="video24", OWNER="media", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="video27", OWNER="media", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="video29", OWNER="media", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="video30", OWNER="media", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="video31", OWNER="media", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="video50", OWNER="mediacodec", GROUP="drmrpc", MODE="0660"
ACTION=="add", KERNEL=="m2m1shot_scaler0", OWNER="mediacodec", GROUP="drmrpc", MODE="0660"
ACTION=="add", KERNEL=="scaler_ext", OWNER="cameraserver", GROUP="vendor_mscl", MODE="0660"
ACTION=="add", KERNEL=="video55", OWNER="system", GROUP="graphics", MODE="0666"
ACTION=="add", KERNEL=="g2d", OWNER="system", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="fimg2d", OWNER="system", GROUP="graphics", MODE="0666"
ACTION=="add", KERNEL=="i2c-2", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="HPD", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="video6", OWNER="mediacodec", GROUP="mediadrm", MODE="0660"
ACTION=="add", KERNEL=="video7", OWNER="mediacodec", GROUP="mediadrm", MODE="0660"
ACTION=="add", KERNEL=="video8", OWNER="mediacodec", GROUP="mediadrm", MODE="0660"
ACTION=="add", KERNEL=="video9", OWNER="mediacodec", GROUP="mediadrm", MODE="0660"
ACTION=="add", KERNEL=="video10", OWNER="mediacodec", GROUP="mediadrm", MODE="0660"
ACTION=="add", KERNEL=="video11", OWNER="mediacodec", GROUP="mediadrm", MODE="0660"
ACTION=="add", KERNEL=="tsmux", OWNER="oem_5386", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="repeater", OWNER="oem_5386", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="video101", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video102", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video103", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video104", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video105", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video106", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video107", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video108", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video110", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video111", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video112", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video113", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video114", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video120", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video121", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video122", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video123", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video124", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video130", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video131", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video132", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video133", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video134", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video135", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video136", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video140", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video141", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video142", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video145", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video146", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video147", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video148", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video149", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video150", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video151", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video152", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video153", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video154", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video155", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video156", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video157", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video160", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video161", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video170", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video171", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video172", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video173", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video174", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video175", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video180", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video194", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video195", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video196", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video197", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video210", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video211", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video212", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video213", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video214", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video215", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video216", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video217", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video218", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video219", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video220", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video221", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video222", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video223", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video224", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video225", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video226", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video227", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video228", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video229", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video230", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video231", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video232", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video233", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video240", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video241", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video242", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video245", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video246", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video247", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video250", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video251", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video252", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video253", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video254", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="media2", OWNER="media", GROUP="media", MODE="0660"
ACTION=="add", KERNEL=="hdcp2", OWNER="media", GROUP="media", MODE="0660"
ACTION=="add", KERNEL=="block/by-name/persist", OWNER="system", GROUP="system", MODE="0600"
ACTION=="add", KERNEL=="m2m1shot_jpeg", OWNER="media", GROUP="media", MODE="0660"
ACTION=="add", KERNEL=="video12", OWNER="cameraserver", GROUP="media", MODE="0660"
ACTION=="add", KERNEL=="jsqz", OWNER="mediacodec", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="seiren", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="mobicore", OWNER="drmrpc", GROUP="drmrpc", MODE="0600"
ACTION=="add", KERNEL=="mobicore-user", OWNER="drm", GROUP="drmrpc", MODE="0666"
ACTION=="add", KERNEL=="ssp", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="s5p-smem", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="block/by-name/modem", OWNER="radio", GROUP="radio", MODE="0400"
ACTION=="add", KERNEL=="umts_ramdump0", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="linkforward", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="umts_dm0", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="umts_router", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="ttyGS0", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="ttyGS1", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="ttyGS2", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="block/by-name/radio", OWNER="system", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="block/by-name/cp_debug", OWNER="radio", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="umts*", OWNER="system", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="ipc*", OWNER="system", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="umts_csd", OWNER="system", GROUP="loop_radio", MODE="0660"
ACTION=="add", KERNEL=="smd4", OWNER="system", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="ramdump_memshare", OWNER="system", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="drb", OWNER="system", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="block/platform/13100000.ufs/by-name/persistent", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="block/platform/13100000.ufs/by-name/steady", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="block/platform/13100000.ufs/by-name/param", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="vertex0", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="vertex1", OWNER="media", GROUP="media", MODE="0660"
ACTION=="add", KERNEL=="dsp", OWNER="cameraserver", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="vertex10", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="scsc_h4_0", OWNER="bluetooth", GROUP="bluetooth", MODE="0660"
ACTION=="add", KERNEL=="mx_0_r4_gdb", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="mx_0_m4_gdb", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="mx_0_mmap", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="mx_client_test_0", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="mx_0_debug_sampler", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="mx140_usb_clk_test_0", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="scsc_log_collector_0", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="input/event*", OWNER="system", GROUP="input", MODE="0660"
ACTION=="add", KERNEL=="input/event*", OWNER="system", GROUP="input", MODE="0660"
ACTION=="add", KERNEL=="ssp_data_injection", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="ssp_sensorhub", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="batch_io", OWNER="system", GROUP="system", MODE="0600"
ACTION=="add", KERNEL=="iio:device*", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="bbd_sensor", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="bbd_control", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="bbd_packet", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="bbd_reliable", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="bbd_sio", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="bbd_patch", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="bbd_urgent_patch", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="ttyBCM*", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="tzdev", OWNER="system", GROUP="system", MODE="0666"
ACTION=="add", KERNEL=="tziwsock", OWNER="system", GROUP="system", MODE="0666"
ACTION=="add", KERNEL=="tziwshmem", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="ionfd2phys", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="tuihw", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="tzirs", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="nwfsdev", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="vts_fio_dev", OWNER="audioserver", GROUP="system", MODE="0660"
